/*main*/
.allergie_content_main {
  background-color: rgba(171, 60, 227, 0.4);
  margin-bottom: 20px;
}

.allergie_main_approche div a:hover {
  color: #772590;
}

/*img circle*/
.allergie_main_img .row .row_card {
  display: flex;
  justify-content: center;
}

.card.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.card-image.allergie1 {
  background-image: url(../img/img_allergie/allergie5.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-image.allergie2 {
  background-image: url(../img/img_allergie/allergie4.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-image.allergie3 {
  background-image: url(../img/img_allergie/allergie2.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-image.allergie4 {
  background-image: url(../img/img_allergie/allergie3.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}