/*main*/
/*argent collaidal*/
.main_article_text {
    background: linear-gradient(to top, #fff79a, #fffcda 100%);
}

.main_article h1 {
    color: #772590;
    line-height: 32px;
}

.main_article h2 {

    line-height: 30px;
}

.main_article p,
.main_article a {
    display: inline-block;
    padding-bottom: 10px;

}

.main_article a:hover {
    color: #772590;
}

.main_article ul {
    padding-bottom: 10px;
}

.main_article ul li {
    margin-left: 30px;
    list-style-type: circle;
    color: #772590;
}

.argent_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.argent_photo,
.argent_photo_graph {
    margin-top: 10px;
    margin-bottom: 20px;
}

.argent_photo a {
    margin-top: 10px;
}

/*lit incliné*/
.main_article_litIncline,
#maladieAuto,
#vertuEau,
#alimInt,
#sommeilFaim,
#videososteo {
    background: linear-gradient(to bottom, #e0b7f5, #f7edfc 100%);

}

/*Lyme*/
.main_article_lyme,
#tibetain,
#beurre,
#alimInf,
#maldos {
    background: linear-gradient(to top, #fff79a, #fffcda 100%);
}

.main_article_lyme .argent_photo img,
#alimInt img,
#alimInf img {
    padding: 10px 10px;
}

/*videos*/
#videososteo {
    padding-bottom: 10px;
}

.video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 10px 10px;

}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}