/*main*/
.main_temoin {
    background-color: #ddb1f4;
    color: #772590;
    padding: 0 10px 20px 10px;
    margin-bottom: 30px;
    text-align: justify;
}

.section_temoin div {
    padding: 15px 10px;
    background: linear-gradient(to top, #fffac8, white 100%);
    margin-bottom: 10px;
    line-height: 25px;
}

.section_temoin div p {
    font-style: italic;
}

.section_temoin div h2 {
    font-size: 1.4em;
    padding-bottom: 10px;
}