/*main*/
.tmr_main {
    color: #772590;
    background: linear-gradient(to bottom, #e0b7f5, #f7edfc 100%);
    line-height: 20px;
}

.tmr_allergie_text p,
.tmr_nickel_text p,
.tmr_main ol li,.tmr_main ul li {
    padding-bottom: 10px;
    line-height: 25px;
}

.tmr_main span {
    font-weight: 510;
}

.tmr_main div img {
    padding: 0 10px;
    margin-bottom: 20px;
}

.tmr_main img {
    width: 100%;
    height: auto;
}

.tmr_main ol li {
    margin-left: 30px;
}

.tmr_temoignage_text h2 a:hover {
    color: #772590;
}